.List {
  display: flex;
  flex-direction: row;
}

.SideBar {
  display: flex;
  height: 100%;
  width: 200px;
  flex-grow: 1;
}

.MemoContainer {
  display: flex;
}

.MemoContainer_title {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
  border: none;
  margin-bottom: 10px;
  outline: none;
}

.MemoContainer_content {
  width: 100%;
  box-sizing: border-box;
  min-height: 600px;
  font-size: 1.1rem;
  border: none;
  outline: none;
}
