@font-face {
  font-family: "Jgothic";
  src: url(../fonts/SMJGothic10Std-Regular.otf);
}

@font-face {
  font-family: "SandollJebi";
  src: url(../fonts/산돌제비B.TTF);
}

.ListView {
  display: flex;
  height: 100%;
  flex: 1;
}

.SideBar {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  max-width: 300px;
  padding-left: 30px;
  color: blue;
  letter-spacing: -0.5px;
  font-family: "Jgothic";
  font-size: 12px;
  line-height: 22px;
}

.ListTitle {
  font-family: "SandollJebi";
  font-size: 25px;
  border: solid rgb(209, 209, 209);
  border-width: 0 0 1.5px;
  padding: 20px 0 5px 0;
}

.ListContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 50px 0 30px;
  border: solid rgb(209, 209, 209);
  border-width: 0 0 0 1.5px;
  letter-spacing: -0.65px;
  font-family: "Jgothic";
  font-size: 15px;
  line-height: 26px;
}

.ListText {
  padding: 10px;
}

.ListRight {
  min-width: 350px;
}
